# Node.js dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Turbopack
.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

.env.local
shrut-koe-firebase-adminsdk-fbsvc-283f5b940f.jsoni